---
import Container from "../Container.astro";
import Link from "../ui/Link.astro";
import Dropdown from "./Dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Services",
    path: "#",
    children: [
      { title: "Data Insights", path: "/insights" },
      { title: "Data Base Administration", path: "/dba" },
      { title: "Web Development", path: "/webdev" },
      { title: "IT Consulting", path: "/consulting" },
    ],
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Team",
    path: "/team",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-black dark:text-white">not</span><span
            class="text-red-600 dark:text-red-600">Akrista</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-red-600" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900"
                    >
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link
            href="https://dash.notakrista.com"
            style="muted"
            block
            size="md"
          >
            Log in
          </Link>
          <!-- <Link href="#" size="md" block>Sign up</Link> -->
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <button
          title="Toggles light & dark"
          aria-label="auto"
          aria-live="polite"
          id="theme-btn"
          type="button"
        >
          <svg
            class="sun-and-moon"
            aria-hidden="true"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <circle
              class="sun"
              cx="12"
              cy="12"
              r="6"
              mask="url(#moon-mask)"
              fill="currentColor"></circle>
            <g class="sun-beams" stroke="currentColor">
              <line x1="12" y1="1" x2="12" y2="3"></line>
              <line x1="12" y1="21" x2="12" y2="23"></line>
              <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
              <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
              <line x1="1" y1="12" x2="3" y2="12"></line>
              <line x1="21" y1="12" x2="23" y2="12"></line>
              <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
              <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </g>
            <mask class="moon" id="moon-mask">
              <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
              <circle cx="24" cy="10" r="6" fill="black"></circle>
            </mask>
          </svg>
        </button>
        <Link href="https://dash.notakrista.com" style="muted" block size="md">
          Log in
        </Link>
        <!-- <Link href="#" size="md">Sign up</Link> -->
      </div>
    </div>
  </header>
</Container>
